<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="adnyey.tendimentions" >
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FirstD"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="adnyey.tendimentions.FIRSTD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondD"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="adnyey.tendimentions.SECONDD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ThirdD"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="adnyey.tendimentions.THIRDD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FourthD"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="adnyey.tendimentions.FOURTHD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FifthD"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="adnyey.tendimentions.FIFTHD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SixthD"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="adnyey.tendimentions.SIXTHD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SeventhD"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="adnyey.tendimentions.SEVENTHD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EighthD"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="adnyey.tendimentions.EIGHTHD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NinethD"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="adnyey.tendimentions.NINETHD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TenthD"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="adnyey.tendimentions.TENTHD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EleventhD"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="adnyey.tendimentions.ELEVENTHD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".About"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="adnyey.tendimentions.ABOUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Source"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="adnyey.tendimentions.SOURCE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
